.vscode



domain/bin
domain/obj

ApiGateway/bin
ApiGateway/obj

CatalogService/bin
CatalogService/obj

AuthService/bin
AuthService/obj

CartService/bin
CartService/obj

PaymentService/bin
PaymentService/obj

OrderService/bin
OrderService/obj

ShippmentService/bin
ShippmentService/obj

CartService/obj
CartService/bin

jars
