.vscode

book-account-service/bin
book-account-service/obj


book-billing-service/bin
book-billing-service/obj

book-shipping-service/bin
book-shipping-service/obj

domain/bin
domain/obj

ApiGateway/bin
ApiGateway/obj

CatalogService/bin
CatalogService/obj
