.vscode

backend/bin
backend/obj


frontend/bin
frontend/obj

book-account-service/bin
book-account-service/obj

book-api-gateway-base/bin
book-api-gateway-base/obj

book-billing-service/bin
book-billing-service/obj

book-catalog-service/bin
book-catalog-service/obj

book-shipping-service/bin
book-shipping-service/obj

domain/bin
domain/obj

ApiGateway/bin
ApiGateway/obj

CatalogService/bin
CatalogService/obj

